NODE_ENV=development
PORT=8000
MONGO_URI=mongodb+srv://<DB_USERNAME>:<DB_PASSWORD>@<CLUSTER_URL>/<DATABASE_NAME>?retryWrites=true&w=majority
JWT_SECRET=super-secret-key-change-me
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90